.sectionPres {
  background-color: var(--color_purple);

  @media only screen and (max-width: $ldown) {
    padding: 50px var(--gutter);
  }
  @media only screen and (min-width: $large) {
    padding: 100px var(--gutter);
  }
}
.sectionPres__galBox {
  @media only screen and (min-width: $large) {
    display: flex;
    gap: var(--gap);
  }
}
