.sectionInfo {
  @media only screen and (max-width: $ldown) {
    padding: 50px var(--gutter);
  }
  @media only screen and (min-width: $large) {
    padding: 100px var(--gutter);
  }
}

.sectionInfo__textCol {
  @media only screen and (max-width: $ldown) {
    order: -1;
  }

  @media only screen and (min-width: $large) {
    padding-left: 66px;
  }
}
