.sectionGallery {
  background-color: var(--color_purple);
  position: relative;

  @media only screen and (min-width: $large) {
    padding: 100px var(--gutter);
  }

  @media only screen and (max-width: $ldown) {
    padding: 50px 0 0 var(--gutter);
  }
}

.sectionGallery__textCol {
  @media only screen and (max-width: $ldown) {
    padding-right: var(--gutter);
  }
}

.sectionGallery__galCol {
  @media only screen and (max-width: $ldown) {
    padding-top: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-left: -15px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.sectionGallery__galBox {
  display: flex;
  gap: var(--gap);

  @media only screen and (max-width: $ldown) {
    width: 990px;
  }
}

.sectionGallery__img {
  @media only screen and (max-width: $ldown) {
    scroll-snap-align: center;

    img {
      display: block;
    }
  }
}
