.sectionPres {
  background-color: var(--color_purple);
}

.sectionPres__galBox {
  @media only screen and (min-width: $large) {
    display: flex;
    gap: var(--gap);
  }
}

.sectionPres__galImg {
  @media only screen and (min-width: $large) {
    width: 305px;
    height: 542px;
    object-fit: cover;
  }
}

.sectionPres__video {
  @media only screen and (max-width: $ldown) {
    display: block;
  }
  @media only screen and (min-width: $large) {
    width: 305px;
    height: 542px;
  }
}
