<section class="sectionGallery">
    <div class="container--inner">
        <div>
            <h2 class="">
                OTRO – Distribuie Eleganța Eco-Friendly
            </h2>
            <p class="sectionGallery__text">
                OTRO înseamnă eleganță atemporală și modă responsabilă. Îmbrăcămintea noastră sustenabilă îmbină luxul cu respectul pentru mediu, oferind o colecție distinctivă care se remarcă pe piață.
                <br><br>
                Ca distribuitor, vei beneficia de produse premium, marje de profit atractive și suport complet în marketing, training și logistică. Ne asigurăm că operațiunile tale decurg fără probleme, astfel încât să te poți concentra pe creșterea afacerii și pe satisfacerea clienților tăi.
                <br><br>
                <b>
                    Alătură-te nouă astăzi și contribuie la viitorul modei sustenabile!
                </b>
            </p>
            <a href="#" class="btn btn--primary sectionGallery__btn">
                Deveniți distribuitor
            </a>
        </div>
        <div>

        </div>
    </div>

</section>