<section class="sectionGallery">
    <div class="container--inner gridContainer gridContainerACenter sectionGallery__container">
        <div class="sectionGallery__textCol section__lgTtR">
            <h2 class="">
                OTRO – Distribuie Eleganța Eco-Friendly
            </h2>
            <p class="section__text">
                OTRO înseamnă eleganță atemporală și modă responsabilă. Îmbrăcămintea noastră sustenabilă îmbină luxul cu respectul pentru mediu, oferind o colecție distinctivă care se remarcă pe piață.
                <br><br>
                Ca distribuitor, vei beneficia de produse premium, marje de profit atractive și suport complet în marketing, training și logistică. Ne asigurăm că operațiunile tale decurg fără probleme, astfel încât să te poți concentra pe creșterea afacerii și pe satisfacerea clienților tăi.
                <br><br>
                <b>
                    Alătură-te nouă astăzi și contribuie la viitorul modei sustenabile!
                </b>
            </p>
            <a href="#devenitiDistribuitor" class="btn btn--primary section__btn">
                Deveniți distribuitor
            </a>
        </div>
        <div class="sectionGallery__galCol">
            <div class="sectionGallery__galBox">
                @@include("components/picture-resp2_native_lazy.html", {
                    "class": "sectionGallery__img", 
                    "classImg": "img-fluid", 
                    "src": "images/sections/gal_img_1",
                    "ext": "jpg",   
                    "alt": "",
                    "picWidthHeight": 'width="305" height="536"',
                  })
                @@include("components/picture-resp2_native_lazy.html", {
                    "class": "sectionGallery__img", 
                    "classImg": "img-fluid", 
                    "src": "images/sections/gal_img_2",
                    "ext": "jpg",   
                    "alt": "",
                    "picWidthHeight": 'width="305" height="536"',
                  })
                @@include("components/picture-resp2_native_lazy.html", {
                    "class": "lgDnone smShow sectionGallery__img", 
                    "classImg": "img-fluid", 
                    "src": "images/sections/gal_img_3",
                    "ext": "jpg",   
                    "alt": "",
                    "picWidthHeight": 'width="305" height="536"',
                  })
            </div>

        </div>
    </div>

</section>