<section class="sectionPres">
    <div class="container--inner gridContainer gridContainerACenter sectionGallery__container">
        <div class="section__lgTtR">
            <h2 class="">
                Îmbrăcăminte Sustenabilă de Lux
            </h2>
            <p class="section__text">
                Produsele OTRO combină materiale premium eco-friendly cu tehnologie modernă pentru a oferi confort, stil și durabilitate. 
                <br><br>
                Designul atent lucrat asigură eleganță atemporală, respirabilitate și o senzație rafinată, redefinind moda sustenabilă pentru generațiile viitoare.
            </p>
            <a href="#devenitiDistribuitor" class="btn btn--primary section__btn">
                Deveniți distribuitor
            </a>
        </div>
        <div class="section__img">
            <div class="sectionPres__galBox">
                @@include("components/picture-resp2_native_lazy.html", {
                    "class": "smDnone", 
                    "classImg": "", 
                    "src": "images/sections/pres_img_1",
                    "ext": "jpg",   
                    "alt": "",
                    "picWidthHeight": 'width="305" height="505"',
                  })
                @@include("components/picture-resp2_native_lazy.html", {
                    "class": "", 
                    "classImg": "imgSmFluid", 
                    "src": "images/sections/pres_img_2",
                    "ext": "jpg",   
                    "alt": "",
                    "picWidthHeight": 'width="305" height="505"',
                  })
            </div>

        </div>
    </div>

</section>