// normalize
@import "./_vendor/normalize";

// Variables
@import "variables/variables";

// common
@import "./common/helpers";
@import "./common/typography";

//componetns
@import "./components/btn";
@import "./components/inputBox";
//Layout
@import "layout/footer";
@import "layout/header";
@import "layout/layout";

// Sections
@import "sections/sectionCommon";
@import "sections/sectionJumbo";
@import "sections/sectionGallery";
@import "sections/sectionInfo";
@import "sections/sectionPres";
@import "sections/sectionForm";

@media only screen and (max-width: 1023px) {
  .sectionGallery .sectionGallery__galCol {
    margin-left: -15px;
  }

  .sectionGallery .sectionGallery__img img {
    display: block;
  }

  .sectionInfo .section__lgTtL {
    order: -1;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .sectionPres {
    padding-bottom: 0px;
    margin-bottom: -1px;
  }

  .sectionPres .sectionPres__galBox {
    margin-left: -17px;
    margin-right: -17px;
  }
}
