:root {
  --fontPr: "Barlow", sans-serif;
  --fontSc: "Plus Jakarta Sans", sans-serif;
  --fontSize: 17px;

  --color_purple: #f2eee8;
  --color_primary: #f05d5e;
  --color_white: #fff;
  --color_black: #010000;

  --gutter: 16px;
  --gap: 20px;
}

$large: 1024px;
$xlarge: 1440px;
$ldown: 1023px;
